---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const articles = await getCollection("articles");
  return articles.map((article) => ({
    params: { id: article.id },
    props: { article },
  }));
}

const { article } = Astro.props;
const { Content } = await render(article);
---

<Layout
  title={article.data.title}
  description={article.data.description}
  image={article.data.image}
>
  <div class="content">
    <Content />
  </div>
</Layout>

<style>
  .content {
    padding: 1rem;
  }
</style>

<style is:global>
  h1 {
    margin-top: 1rem;
    line-height: 1;
    color: var(--colour-primary);
  }

  h2 {
    line-height: 1;
    color: var(--colour-tertiary);
  }

  h3 {
    line-height: 1;
    color: var(--colour-quaternary);
  }

  h4 {
    line-height: 1;
    color: var(--colour-quinary);
  }

  h5 {
    line-height: 1;
    color: var(--colour-quinary);
  }

  h6 {
    line-height: 1;
    color: var(--colour-quinary);
  }

  hr {
    margin: 1rem 0;
  }
</style>
