---
import Layout from "../layouts/Layout.astro"
---

<Layout title="TRNK" description="A Software Development Mindset" image="/images/trnk.png">
	<div class="hero">		
		<h2>A Software Development Mindset</h1>
		<p>Build high performing teams through building quality in, evolutionary architecture and other stuff.</p>
	</div>

	<div class="other">
		<h1>Build Quality In</h1>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi corrupti ratione distinctio excepturi placeat sequi, nostrum ad, cum, maxime optio quaerat explicabo quos. Dolorum quasi corporis fugit facilis quae maxime!</p>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed dolorum quis atque provident unde praesentium deleniti veritatis, enim, temporibus repellat sunt odit nisi! Deleniti, fugiat voluptatum quos libero assumenda quae!</p>
	</div>

	<div class="other-2">
		<h1>Evolutionary Architecture</h1>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque natus itaque non modi eligendi expedita, ratione doloribus, totam nihil, nemo assumenda. Perspiciatis magni magnam quod, rem facilis at earum, consequuntur, soluta suscipit labore cumque officiis!</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis culpa in provident adipisci distinctio temporibus pariatur possimus soluta, illum nam accusamus sequi excepturi omnis quod!</p>
	</div>

	<div class="other-3">
		<h1>And Something Else</h1>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis eum molestias, consequuntur placeat aliquid doloribus ex, suscipit impedit, magnam numquam consequatur totam. Ipsam, aliquam? Optio natus veniam praesentium mollitia corrupti vel, amet provident beatae animi iure harum quo consequuntur. Tenetur.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti aliquid itaque excepturi voluptate similique tenetur accusantium velit, ipsa exercitationem sit?</p>
	</div>
</Layout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;		
		text-align: center;
		margin: 5rem 0;
	}

	.hero h2 {		
		font-size: 2rem;
		margin-bottom: 2rem;
		line-height: 1;
	}

	.hero p {
		font-size: 1.5rem;
	}

	.other {
		background-color: var(--colour-tertiary);
		margin: 3rem 0 0 0;
		padding: 2rem;		
	}

	.other-2 {
		background-color: var(--colour-quaternary);
		margin: 0 0 3rem 0;
		padding: 2rem;		
	}

	.other-3 {
		margin: 0 0 3rem 0;
		padding: 0 2rem;		
	}

	.other p, .other-2 p, .other-3 p {
		margin-bottom: 1rem;
	}
</style>