---
import Latest from "../components/Latest.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="TRNK" description="A Software Development Mindset" image="/images/trnk.png">
	<h1>TRNK</h1>
	<p>A Software Development Mindset.</p>

	<Latest />
</Layout>
