---
type Props = {
    text: string
}

const { text } = Astro.props
---

<button>{text}</button>

<style>
    button {
        background-color: var(--colour-primary);
        color: white;        
        border: none;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        cursor: pointer;
    }
</style>