---
---

<header>
    <h1>TRNK</h1>
    <a href="/articles/">Articles</a>
</header>

<style>
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
    }

    h1 {
        display: flex;
        flex: 1;
        justify-content: center;
        color: var(--colour-primary);
        font-weight: bold;

        margin: 0;        
    }

    a {
        display: flex;
        justify-content: end;
    }
</style>