---
import { getCollection } from "astro:content"

const articles = await getCollection("articles")
---

<div>
    <ul>
        {articles.map(article => <li><a href={`/articles/${article.id}`}>{article.data.title}</a></li>)}
    </ul>
</div>